* {
    font-family: 'DM Serif Display', serif;
    text-decoration-line: none;
}

html,
body {
    padding: 0;
    background-color: rgb(0, 0, 0);
}

a {
    margin: 0;
}

.title-text {
    margin: 3rem;
    color: white;
}


/* Project Header */

#logo {
    width: 5%;
    display: inline;
}

#project-title {
    display: inline;
    width: 90%;
    color: white;
    margin-top: 10px;
}

.header {
    background-color: black;
    height: 75px;
    display: flex;
    text-align: center;
}


/* Entire Background */

.jumbotron {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    opacity: .8;
}


/* Search Card */

.card {
    width: auto;
    height: 330px;
    background: rgba( 0, 0, 0, 0.55);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.input-group {
    width: 500px;
    margin: auto;
}

.search {
    margin-top: 18rem;
}

#submit {
    width: 10rem;
    margin-top: 20px;
    padding: 10px;
}


/* Artist Information */

.musician-information {
    display: none;
}

.box {
    height: auto;
    margin: 2rem;
    background-color: hsl(0, 4%, 75%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.205);
    font-size: 30px;
}

#artist-name {
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
}

#artist-image {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
}

.imageCenter {
    margin-left: 30%;
}

.listing-button {
    width: 150px;
    height: 40px;
    font-size: 17px;
    margin-left: 700px;
    margin-bottom: 10px;
    background-color: black;
    border-color: black;
}

.tickets-button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-decoration-line: none;
    margin-left: 35px;
    margin-bottom: 10px;
    background-color: black;
    border-color: black;
}